header {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  background: linear-gradient(100deg, #bec7bf 0%, #3b413d 100%);
}

footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  background: linear-gradient(100deg, #bec7bf 0%, #3b413d 100%);
}
