/* défaut */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* général */

body {

  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1,
h2,
h3 {

  font-family: 'Open Sans', sans-serif;
  color: #222;
}

h1, h2, h3 {

  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #222;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

.souligne {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.rond {
  display: inline-block;
  text-align: center;
  width: 25px;
  padding: 1px;
  border-radius: 100%;
  background: #333;
  color: black;
}

.jaune {
  background: rgb(254, 206, 0);
}

.vert {
  background: rgb(213, 201, 0);
}


.rect-vert {
  background: #6e6e00;
}

.rect-vert {
  background: #6e6e00;
  border-radius: 10%;

}

.rect-marron {
  background: #6e5b1e;
}

.texte-blanc {
  color: white;
}

/* header */

.header {
  background: #333;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a {
  color: white;
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover {
  background: #444;
}

/* footer */

footer {
  background: #222;
  color: white;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}

/* où */

.ou {
  padding: 180px 0px 180px 0px;
  overflow: auto;
  min-height: 100vh;
}

.ou-iframe {
  float: left;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.ou-texte {
  float: right;
  width: 50%;

}

.header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.header nav ul li a:hover {
  background: #444;
}

/* footer */

footer {

  background: #222;
  color: white;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}
  
/* où */

.ou {
  padding: 100px 0px;
  overflow: auto;
  min-height: 100vh;
}

.ou-iframe {
  float: left;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: #888 2px 2px 2px 2px;
}

.ou-texte {
  float: right;
  width: 50%;
}

/* texte */

.texte {
  padding-top: 100px;
}